.search-area {
  display: flex;
  justify-content: center;
  margin: 30px 20px;
}
.search-area input {
  padding: 10px 20px;
  border: 2px solid rgb(120, 10, 119);
  outline: 0;
  border-right: 0;
  border-radius: 50px 0 0 50px;
  color: rgb(120, 10, 119);
  font-size: 18px;
}
.search-area input::placeholder {
  color: rgb(120, 10, 119);
  font-size: 20px;
}
.search-area button {
  border: 2px solid rgb(120, 10, 119);
  border-left: 0;
  outline: 0;
  background-color: rgb(120, 10, 119);
  color: aliceblue;
  padding: 10px 15px;
  border-radius: 0 50px 50px 0;
  font-size: 20px;
  cursor: pointer;
}
